.newCollection {
  text-align: center;
}

p {
  display: inline-block;
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: 'PT Sans', sans-serif;
}

.newCollection h1 {
  display: inline-block;
  margin-top: 20px;

  border-bottom: 1px solid #AA7258;
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
}

.carousel-newCollection {
  max-width: 460px;
  margin: 0 auto;
}

.slick-initialized .slick-slide {
  outline: none;
}

#slick-slide-control00:before {
  background-image: url(../images/portemonaieblanc.png);
}

#slick-slide-control01:before {
  background-image: url(../images/portemonaiebleu.png);
}

#slick-slide-control02:before {
  background-image: url(../images/portemonaierouge.png);
}

#slick-slide-control03:before {
  background-image: url(../images/portemonaievert.png);
}

#slick-slide-control04:before {
  background-image: url(../images/portemonaieviolet.png);
}

#slick-slide-control00:before,
#slick-slide-control01:before,
#slick-slide-control02:before,
#slick-slide-control03:before,
#slick-slide-control04:before,
#slick-slide-control05:before {
  content: '';
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 80px;
}

.slick-dots li{
  width: 80px;
  height: 80px;
}


.slick-dots li button {
    width: 50px;
    height: 80px;

}

@media screen and (max-width: 545px) {
  .newCollection h1 {
    font-size: 20px;
  }
}
